<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    
    <title>Edit Category</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <!-- CATEGORY EDITOR EDIT NAME MONGODB SECTION -->
    <section class="container-fluid">        
        <div class="row">

            <!-- CATEGORY EDITOR EDIT NAME LEFT COLUMN -->
            <div class="col-md-4 col-lg-3 bg-color-theme section-column-left">

                <!-- CATEGORY EDITOR EDIT NAME LEFT COLUMN HEADING -->
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Manage Categories
                        </h3>
                    </div>
                </div>

                <!-- CATEGORY EDITOR EDIT NAME LEFT COLUMN IMAGE -->
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/items_logo_l.png" alt="Select Logo">
                    </div>
                </div>
            </div>
                
            <!-- CATEGORY EDITOR EDIT NAME RIGHT COLUMN -->
            <div class="col-md-8 col-lg-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Edit Category Name</h3>
                    </div>
                </div>
                <form action="{{ url_for('update_category', category_id=category._id) }}" method="POST">
                    <div class="row section-heading-right">
                        <div class="input-field col-9">
                            <input type="text" id="name_category" name="name_category" class="form-control" value="{{category.name_category}}">
                        </div>
                        <div>
                            <button class="btn btn-chib" type="submit" name="action">
                                <i class="fas fa-save" aria-hidden="true"></i><span> Save</span>
                            </button>
                        </div>
                        <div>
                            <a class="btn btn-chib" href="{{url_for('get_category')}}" id="navbarDropdownFind" role="button"><i class="fas fa-window-close" aria-hidden="true"></i><span> Cancel</span></a>                            
                        </div>
                    </div>                
                </form>
            </div>            
        </div>
    </section>
{% endblock %}
</body>
</html>