<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

    <title>Add Items</title>
</head>
<body>
{% extends 'base.html'%}
{% block content %}
    <!-- ADD ITEMS MONGODB SECTION -->
    <section class="container-fluid">        
        <div class="row">

            <!-- ADD ITEMS LEFT COLUMN -->
            <div class="col-md-4 col-lg-3 bg-color-theme section-column-left">

                <!-- ADD ITEMS LEFT COLUMN HEADING -->
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Manage Items
                        </h3>
                    </div>
                </div>

                <!-- ADD ITEMS LEFT COLUMN IMAGE -->
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/items_logo_s.png" alt="Select Logo">
                    </div>
                </div>
            </div>
                
            <!-- ADD ITEMS RIGHT COLUMN -->
            <div class="col-md-8 col-lg-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Edit Item</h3>
                    </div>
                </div>
                <form action="{{ url_for('update_item', item_id=item._id) }}" method="POST">
                    <div class="row section-heading-right">                        
                        <div class="form-group col-6">
                            <label>Item Name</label>
                            <select id="item_name" name="item_name" class="form-control">
                                <option value="" disabled selected>Select Item Name</option>
                                {% for dataset in names %}
                                    {% if dataset.loot_name == item.item_name %}
                                        <option value="{{dataset.loot_name}}" selected >{{dataset.loot_name}}</option>
                                    {% else %}
                                        <option value="{{dataset.loot_name}}">{{dataset.loot_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>                        
                        <div class="form-group col-6">
                            <label>Item Source</label>
                            <select id="item_source" name="item_source" class="form-control">
                                <option value="" disabled selected>Select Item Source</option>
                                {% for sourc in sources %}
                                    {% if sourc.source_name == item.item_source %}
                                        <option value="{{sourc.source_name}}" selected >{{sourc.source_name}}</option>
                                    {% else %}
                                        <option value="{{sourc.source_name}}">{{sourc.source_name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label>Item Category</label>
                            <select id="item_category" name="item_category" class="form-control">
                                <option value="" disabled selected>Select Item Category</option>
                                {% for cats in categories %}
                                    {% if cats.name_category == item.item_category %}
                                        <option value="{{cats.name_category}}" selected >{{cats.name_category}}</option>
                                    {% else %}
                                        <option value="{{cats.name_category}}">{{cats.name_category}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label>Dropchance %</label>
                            <input type="text" class="form-control" id="item_chance" name="item_chance" value="{{item.item_chance}}">                            
                        </div>
                        <div class="form-group col-6">
                            <label>Amount</label>
                            <input type="text" class="form-control" id="item_unit" name="item_unit" value="{{item.item_unit}}">
                        </div>
                        <div class="form-group col-6">
                            <label>Price + Units</label>
                            <input type="text" class="form-control" id="item_price" name="item_price" value="{{item.item_price}}">
                        </div>
                        <div class="form-group col-6">
                            <label>Available at Day</label>
                            <input type="text" class="form-control" id="item_time" name="item_time" value="{{item.item_time}}">
                        </div>                       
                    </div>
                    <div class="row section-heading-right">                  
                        <div>
                            <button class="btn btn-chib" type="submit" name="action">
                                <i class="fas fa-save" aria-hidden="true"></i><span> Save</span>
                            </button>
                        </div>
                        <div>
                            <a class="btn btn-chib" href="{{url_for('get_items')}}" role="button"><i class="fas fa-window-close" aria-hidden="true"></i><span> Cancel</span></a>                            
                        </div>
                    </div>
                </form>           
            </div>
        </div>
    </section>
{% endblock %}
</body>
</html>