<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

    <title>Add Items</title>
</head>
<body>
{% extends 'base.html'%}
{% block content %}
    <!-- ADD ITEMS MONGODB SECTION -->
    <section class="container-fluid">        
        <div class="row">

            <!-- ADD ITEMS LEFT COLUMN -->
            <div class="col-md-4 col-lg-3 bg-color-theme section-column-left">

                <!-- ADD ITEMS LEFT COLUMN HEADING -->
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Manage Items
                        </h3>
                    </div>
                </div>

                <!-- ADD ITEMS LEFT COLUMN IMAGE -->
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/items_logo_s.png" alt="Select Logo">
                    </div>
                </div>
            </div>
                
            <!-- ADD ITEMS RIGHT COLUMN -->
            <div class="col-md-8 col-lg-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Add Item</h3>
                    </div>
                </div>
                <form action="{{ url_for('insert_item') }}" method="POST">
                    <div class="row section-heading-right">                        
                        <div class="form-group col-6">
                            <select id="item_name" class="form-control" name="item_name">
                                <option value="" disabled selected>Select Item Name</option>
                                {% for dataset in loot %}
                                    <option value="{{dataset.loot_name}}">{{dataset.loot_name}}</option>                                
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <select id="item_category" class="form-control" name="item_category">
                                <option value="" disabled selected>Select Item Category</option>
                                {% for categories in category %}
                                    <option value="{{categories.name_category}}">{{categories.name_category}}</option>                                
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <select id="item_source" class="form-control" name="item_source">
                                <option value="" disabled selected>Select Item Source</option>
                                {% for sources in source %}
                                    <option value="{{sources.source_name}}">{{sources.source_name}}</option>                                
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" id="item_chance" name="item_chance" placeholder="Enter Dropchance (1-100)">
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" id="item_unit" name="item_unit" placeholder="Enter Item Amount (e.g.: 10)">
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" id="item_price" name="item_price" placeholder="Enter Item Price (eg.: 10 Dust)">
                        </div>
                        <div class="form-group col-6">
                            <input type="text" class="form-control" id="item_time" name="item_time" placeholder="Enter Cycle Day (1-7 or all days)">
                        </div>
                        <div class="form-group col-6">
                            <input type="hidden" id="item_date" name="item_date" value="now">
                        </div>                                             
                    </div>                   
                    <div class="row section-heading-right">
                        <button class="btn btn-chib" type="submit" name="action">
                            <i class="fas fa-plus-square" aria-hidden="true"></i><span> Add</span>
                        </button>
                    </div>
                </form>           
            </div>
        </div>
    </section>
{% endblock %}
</body>
</html>