<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    
    <title>Browse Items</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}
    <!-- ITEMS MONGODB SECTION -->
    <section class="container-fluid">        
        <div class="row">

            <!-- ITEMS LEFT COLUMN -->
            <div class="col-md-4 col-lg-3 bg-color-theme section-column-left">

                <!-- ITEMS LEFT COLUMN HEADING -->
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            FILTER ITEM DB
                        </h3>
                    </div>
                </div>

                <!-- ITEMS LEFT COLUMN IMAGE -->
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/items_logo_s.png" alt="Select Logo">
                    </div>
                </div>

                <!-- ITEMS LEFT COLUMN FILTERS SECTION -->                
                                    
                <!-- FILTER ITEMS -->
                <div class="row form-row">
                    <div class="col col-7 offset-1">
                        <!-- thanks to nlucaroni @ https://stackoverflow.com/questions/2530/how-do-you-disable-browser-autocomplete-on-web-form-field-input-tag for the autocomplete tip -->
                        <input type="text" id="cardNumber" class="form-control form-control-sm btn btn-outline-light" placeholder="card number" autocomplete="off" onfocus="clearIDSearch()">                        
                    </div>
                    <div class="col col-3">
                        <button type="button" id="cardNumberSubmit" class="form-control form-control-sm btn btn-outline-light" onclick="findCardByNumber()"><i class="fas fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>

                <hr style="margin:3px">

                <!-- SEARCH BY CARD NAME -->
                <div class="form-row">
                    <div class="col col-7 offset-1">
                        <input type="text" list="cards" name="cards" id="cardName" class="form-control form-control-sm btn btn-outline-light" placeholder="card name" onfocus="clearNameSearch()">
                        <datalist id="cards">
                        </datalist>
                    </div>
                    <div class="col col-3">
                        <button type="button" id="cardNameSubmit" class="form-control form-control-sm btn btn-outline-light" onclick="findCardByName()"><i class="fas fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>

                <hr style="margin:10px">

                <!-- SEARCH BY CARD PROPERTY - TYPE -->
                <div class="form-row">
                    <div class="col col-10 offset-1">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cardType">Type:</label>
                            </div>
                            <select class="custom-select" id="cardType"></select>
                        </div>
                    </div>
                </div>

                <!-- SEARCH BY CARD PROPERTY - RARITY -->
                <div class="form-row">
                    <div class="col col-10 offset-1">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cardRarity">Rarity:</label>
                            </div>
                            <select class="custom-select" id="cardRarity"></select>
                        </div>
                    </div>
                </div>

                <!-- SEARCH BY CARD PROPERTY - SOURCE -->                    
                <div class="form-row">
                    <div class="col col-10 offset-1">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cardSource">Source:</label>
                            </div>
                            <select class="custom-select" id="cardSource"></select>
                        </div>
                    </div>
                </div>                    

                <!-- SEARCH BY CARD PROPERTY - SET -->
                <div class="form-row">
                    <div class="col col-10 offset-1">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="cardSet">Set:</label>
                            </div>
                            <select class="custom-select form-control form-control-sm btn btn-outline-light" id="cardSet"></select>
                        </div>
                    </div>
                </div>

                <!-- SEARCH BY CARD PROPERTY - SEARCH BUTTON -->
                <div class="form-row">
                    <div class="col col-5 offset-6">
                        <button type="button" id="setSubmit" class="form-control form-control-sm btn btn-outline-light" onclick="findCardsByStats()"><i class="fas fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                              
            </div>

            <!-- ITEMS RIGHT COLUMN - RESULTS SECTION -->
            <div class="col-md-8 col-lg-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 id="chibiItemStatus" class="section-heading-right uppercase">From Dust Till Spawn!</h3>
                    </div>
                    <div class="section-heading-right">
                        <a class="btn btn-chib" href="{{url_for('add_items')}}" id="navbarDropdownFind" role="button"><i class="fas fa-plus-square" aria-hidden="true"></i><span> Add</span></a>
                    </div>
                </div>

                <!-- ITEM RESULTS ACCORDION -->
                <div class="accordion" id="itemAccordion">                    
                    {% for dataset in items %}                        
                    <div class="card">
                        <div class="card-header" id="heading{{dataset._id}}">
                            <h5>
                                <div class="row" data-toggle="collapse" data-target="#col{{dataset._id}}" aria-expanded="true" aria-controls="{{dataset._id}}">
                                    <a class="btn btn-chib" href="{{url_for('edit_item', item_id=dataset._id)}}" role="button"><i class="fas fa-edit" aria-hidden="true"></i><span> Edit</span></a>
                                    <a class="btn btn-chib" href="{{url_for('delete_item', item_id=dataset._id)}}" role="button"><i class="fas fa-trash" aria-hidden="true"></i><span> Delete</span></a>
                                    <div class="db-results">
                                        <strong>{{dataset.item_name}}</strong> ({{dataset.item_unit}}): {{dataset.item_source}}
                                    </div>
                                </div>
                            </h5>
                        </div>

                        <div id="col{{dataset._id}}" class="collapse show" aria-labelledby="heading{{dataset._id}}" data-parent="#itemAccordion">
                            <div class="card-body">
                                <p>Category: {{dataset.item_category}}</p>
                                <p>Dropchance: {{dataset.item_chance}}</p>
                                <p>Availability: {{dataset.item_time}}</p>
                            </div>
                        </div>
                    </div>                   
                    {% endfor %}                   
                </div>                
            </div>            
        </div>
    </section>
{% endblock %}
</body>
</html>