<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">
    
    <title>Browse Items</title>
</head>
<body>

{% extends 'base.html' %}
{% block content %}
    <!-- ITEMS MONGODB SECTION -->
    <section class="container-fluid">        
        <div class="row">

            <!-- ITEMS LEFT COLUMN -->
            <div class="col-md-4 col-lg-3 bg-color-theme section-column-left">

                <!-- ITEMS LEFT COLUMN HEADING -->
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            FILTER ITEM DB
                        </h3>
                    </div>
                </div>

                <!-- ITEMS LEFT COLUMN IMAGE -->
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/items_logo_s.png" alt="Select Logo">
                    </div>
                </div>

                <!-- ITEMS LEFT COLUMN FILTERS SECTION -->                
                                    
                <!-- FILTER ITEMS -->
                <div class="row">
                    <div class="col">
                        <form action="{{ url_for('filter_items') }}" method="POST">
                             
                            <div class="form-row">
                                <select id="filter_name" class="form-control-sm col-10 offset-1" name="filter_name">
                                    <option value="" selected>Filter by Item Name</option>
                                    {% for dataset in floot %}
                                        <option value="{{dataset.loot_name}}">{{dataset.loot_name}}</option>                                
                                    {% endfor %}
                                </select>
                            </div>                           
                        
                            <div class="form-group form-row">
                                <select id="filter_category" class="form-control-sm col-10 offset-1" name="filter_category">
                                    <option value="" selected>Filter by Item Category</option>
                                    {% for categories in fcategory %}
                                        <option value="{{categories.name_category}}">{{categories.name_category}}</option>                                
                                    {% endfor %}
                                </select>
                            </div>
                        
                            <div class="form-group form-row">
                                <select id="filter_source" class="form-control-sm col-10 offset-1" name="filter_source">
                                    <option value="" selected>Filter by Item Source</option>
                                    {% for sources in fsource %}
                                        <option value="{{sources.source_name}}">{{sources.source_name}}</option>                                
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-row">
                                <div class="col col-5 offset-6">
                                    <button class="form-control form-control-sm btn btn-outline-light" type="submit" name="action">
                                        <i class="fas fa-filter" aria-hidden="true"></i><span> Filter</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>                              
            </div>

            <!-- ITEMS RIGHT COLUMN - RESULTS SECTION -->
            <div class="col-md-8 col-lg-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 id="chibiItemStatus" class="section-heading-right uppercase">From Dust Till Spawn!</h3>
                    </div>
                    <div class="section-heading-right">
                        <a class="btn btn-chib" href="{{url_for('add_items')}}" role="button"><i class="fas fa-plus-square" aria-hidden="true"></i><span> Add</span></a>
                    </div>
                </div>

                <!-- ITEM RESULTS ACCORDION -->
                <div class="accordion" id="itemAccordion">                    
                    {% for dataset in items %}                        
                    <div class="card">
                        <div class="card-header" id="heading{{dataset._id}}">
                            <h5>
                                <div class="row" data-toggle="collapse" data-target="#col{{dataset._id}}" aria-expanded="true" aria-controls="{{dataset._id}}">
                                    <a class="btn btn-chib" href="{{url_for('edit_item', item_id=dataset._id)}}" role="button"><i class="fas fa-edit" aria-hidden="true"></i><span> Edit</span></a>                                    
                                    <a class="btn btn-chib" href="{{url_for('delete_item', item_id=dataset._id)}}" role="button"><i class="fas fa-trash" aria-hidden="true"></i><span> Delete</span></a>
                                    <div class="db-results">
                                        <strong>{{dataset.item_name}}</strong> ({{dataset.item_unit}}): {{dataset.item_source}}
                                    </div>
                                </div>
                            </h5>
                        </div>

                        <div id="col{{dataset._id}}" class="collapse" aria-labelledby="heading{{dataset._id}}" data-parent="#itemAccordion">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <p><strong>Name:</strong> {{dataset.item_name}}</p>                                        
                                        <p><strong>Category:</strong> {{dataset.item_category}}</p>
                                        <p><strong>Units:</strong> {{dataset.item_unit}}</p>
                                        <p><strong>Availability:</strong> {{dataset.item_time}}</p>
                                    </div>
                                    <div class="col-6">
                                        <p><strong>Source:</strong> {{dataset.item_source}}</p>
                                        <p><strong>Dropchance:</strong> {{dataset.item_chance}}</p>
                                        <p><strong>Price:</strong> {{dataset.item_price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                   
                    {% endfor %}                   
                </div>                
            </div>            
        </div>
    </section>

{% endblock %}
</body>
</html>