<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

    <title>Add Items</title>
</head>
<body>
{% extends 'base.html'%}
{% block content %}
    <!-- LOOT EDITOR ADD NAME MONGODB SECTION -->
    <section class="container-fluid">        
        <div class="row">

            <!-- LOOT EDITOR ADD NAME LEFT COLUMN -->
            <div class="col-md-4 col-lg-3 bg-color-theme section-column-left">

                <!-- LOOT EDITOR ADD NAME LEFT COLUMN HEADING -->
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Manage Items
                        </h3>
                    </div>
                </div>

                <!-- LOOT EDITOR ADD NAME LEFT COLUMN IMAGE -->
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/items_logo_s.png" alt="Select Logo">
                    </div>
                </div>
            </div>
                
            <!-- LOOT EDITOR ADD NAME RIGHT COLUMN -->
            <div class="col-md-8 col-lg-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Add Item</h3>
                    </div>
                </div>
                <form action="{{ url_for('insert_loot') }}" method="POST">
                    <div class="row section-heading-right">
                        <div class="form-group input-field col-6">                            
                            <input type="text" id="loot_name" name="loot_name" class="form-control" placeholder="Select Loot Name Here">                                                       
                                {% for names in loot %}
                                    <option value="{{names.item_name}}">{{names.item_name}}</option>
                                {% endfor %}
                        </div>
                        <div class="form-group input-field col-6">                            
                            <input type="text" id="loot_category" name="loo_category" class="form-control" placeholder="Select Loot Category Here">                                                       
                                {% for cats in category %}
                                    <option value="{{cats.name_category}}">{{cats.name_category}}</option>
                                {% endfor %}
                        </div>                                       
                    </div>
                    <div>
                        <button class="btn btn-chib" type="submit" name="action">
                            <i class="fas fa-plus-square" aria-hidden="true"></i><span> Add</span>
                        </button>
                    </div>               
                </form>
            </div>            
        </div>
    </section>
{% endblock %}
</body>
</html>