{% extends 'base.html' %}
{% block content %}
    <!-- PLAY SECTION -->    
    <section class="container-fluid">        
        <div class="row">
            <!-- PLAY LEFT COLUMN -->        
            <div class="col-md-3 bg-color-theme section-column-left-main">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Play
                        </h3>
                    </div>
                </div>
                <div class="chibi-overview-item">
                    <div class="key">
                        <p class="uppercase">
                            Types:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            In Game Mini Games
                        </p>
                    </div>
                </div>
                <div class="chibi-overview-item">
                    <div class="key">
                        <p class="uppercase">
                            Categories:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            Idle PvE
                        </p>
                        <p>
                            PvE
                        </p>
                        <p>
                            PvP
                        </p>
                    </div>
                </div>
                <div class="chibi-overview-item">
                    <div class="key">
                        <p class="uppercase">
                            Rewards:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            Experience
                        </p>
                        <p>
                            Raid Points
                        </p>
                        <p>
                            Loot
                        </p>
                    </div>
                </div>                
            </div>
            
            <!-- PLAY RIGHT COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right-main">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">The Games of Chibi Fighters 2.0</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What are the Games?</h4>
                                <p>
                                    Chibi Fighters 2.0 includes those games so far
                                </p>
                                <ul>
                                    <li>Adventures</li>
                                    <li>Hunt</li>
                                    <li>Raids</li>
                                    <li>Match</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Goals</h4>
                                <p>
                                    Chibis is not just a Collectable Trading Card Game. You can level, develop and equip your cards.
                                </p>
                                <p>
                                    To do so you need to:
                                </p>
                                <ul>
                                    <li>Collect Experience</li>
                                    <li>Earn Raid Points</li>
                                    <li>Find loot</li>
                                    <li>Compete with other players</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                    There are some things you should pay attention to:
                                </p>
                                <ul>
                                    <li>Don't spend all you earn straight</li>
                                    <li>Things are in constant change</li>
                                    <li>Take a look at the timely rotations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PLAY REWARDS SECTION -->
    <section class="container-fluid" id="rewards">        
        <div class="row">        
            <!-- PLAY REWARDS LEFT COLUMN -->
            <div class="col-md-3 bg-color-theme section-column-left">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Rewards
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/fighters_05_Skully_Bitey.png" alt="Skully vs Bitey">
                    </div>
                </div>                
            </div>
            
            <!-- PLAY REWARDS RIGHT COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Up for a Reward?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    Daily rewards you can claim every 24 hours:
                                </p>
                                <ul>
                                    <li>Adventures were replaced with daily rewards</li>
                                    <li>You can receive 70k experience and...</li>
                                    <li>...one dust every 24 hours.</li>                                    
                                    <li>No Chibis or Team setup is required</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Earning Exp & Dust</h4>
                                <p>
                                Rewards are more convenient but less fun than Adventures
                                </p>                                
                                <ul>
                                    <li>Just go to the rewards tab and claim your reward</li>
                                    <li>If you can't claim yet, a timer tells you when to come back</li>
                                    <li>You should do it every 24h to not miss out on free exp</li>
                                    <li>The new Dust drop is a major plus for new players</li>
                                    <li>No need to burn precious cards any more</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                    And here come some tipps for Rewards
                                </p>
                                <ul>
                                    <li>Adventures paid you up to 150k per 24h</li>
                                    <li>Now you get less exp but a free dust on top</li>
                                    <li>And you only need to claim once every 24 hours</li>
                                    <li>The new 24h slot starts counting after claiming</li>                                
                                    <li>So pick a time you are available every day</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PLAY HUNT SECTION -->
    <section class="container-fluid" id="hunt">        
        <div class="row">        
            <!-- PLAY HUNT LEFT COLUMN -->
            <div class="col-md-3 bg-color-theme section-column-left">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Hunt
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/fighters_06_LizzardPeople_Skully.png" alt="Lizzard People vs Skully">
                    </div>
                </div>
            </div>
            
            <!-- PLAY HUNT RIGHT COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Ready for the Hunt?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    The Hunt is a PvE Mini Game for two to six Chibis
                                </p>
                                <ul>
                                    <li>Equip two to six Chibis to your party</li>
                                    <li>The Hunt requires a ticket to play it </li>
                                    <li>You get five tickets at 8pm GMT per day</li>
                                    <li>You will earn exp</li>                                    
                                    <li>You may find loot</li>
                                    <li>Loot can be Chibis, Armor, Weapons, Skills</li>                                   
                                    <li>Loot cards are just found ingame</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">How to Play</h4>
                                <p>
                                Click the Hunt Tab and equip one loadout with 2-6 Chibis
                                </p>
                                <ul>
                                    <li>Click Start Hunt</li>
                                    <li>Your party will face its first opponent</li>
                                    <li>After the fight you can claim loot or continue</li>
                                    <li>The number of opponents increases every 4 rounds by one up to 6</li>
                                    <li>The HP of each opponent raises by 50 each round</li>
                                    <li>The DMG of each opponent raises by 5 each round</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                How far can you go?
                                </p>
                                <ul>
                                    <li>Hunt drops are random and can be 1-2 cards</li>
                                    <li>If you lose a fight you can claim the loot or..</li>
                                    <li>..try again and hen claim the loot</li>
                                    <li>Change your equipment / team to try again</li>
                                    <li>You earn exp starting at 30 up to 100 from stage 20 on</li>
                                    <li>You can stop and restart the Hunt at any point</li>
                                    <li>Only claiming your loot will finish a round</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PLAY RAIDS SECTION -->
    <section class="container-fluid" id="raids">        
        <div class="row">        
            <!-- PLAY RAIDS LEFT COLUMN -->
            <div class="col-md-3 bg-color-theme section-column-left">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Raids
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/fighters_07_Skully_LizzardPet.png" alt="Skully vs Lizzard Pet">
                    </div>
                </div>
            </div>
            
            <!-- PLAY RAIDS COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Let's Raid !!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    Raids are PvE Mini Games for two to six Chibis
                                </p>
                                <ul>
                                    <li>There are 21 Raids on a seven day rotation</li>
                                    <li>Three of those are available each day</li>
                                    <li>Raid 1 requires lvl 10 Chibis</li>
                                    <li>Raid 2 requires lvl 20 Chibis</li>
                                    <li>Raid 3 requires lvl 50 Chibis minted to the Ethereum Chain</li>
                                    <li>Each day you get ten Raid tickets at 8pm GMT</li>
                                    <li>You can spend them on all three raids</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-gem" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Rewards</h4>
                                <p>
                                Lots of rewards in Raids! Let's take an extra look
                                </p>
                                <ul>                                    
                                    <li>All Raids will give you min 100exp and 5 Raid Points</li>
                                    <li>There is the chance to win 10 to 35 Raid Points</li>
                                    <li>Each Raid offers instant loot</li>
                                    <li>And one player per raid wins the daily raffle</li>
                                    <li>The loot is wide ranged and offers all cards that can drop.</li>
                                    <li>Including the Legendary Chibi Wolf once a week in a raffle!</li>
                                    <li>Ten players win a nice pack of exp and RP daily per raid</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">How to Play</h4>
                                <p>
                                Click the Raids Tab and equip one Raid with 2-6 Chibis
                                </p>
                                <ul>
                                    <li>Click the animation to start a Raid</li>
                                    <li>You can fast forward by clicking the green arrow</li>
                                    <li>After the fight pick a loot box and open it.</li>
                                    <li>You can either continue with the same Raid</li>
                                    <li>or chose another one by equiping it</li>
                                    <li>Check out the Leader Board under the Raid!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                Storm the Leader Board !!
                                </p>
                                <ul>
                                    <li>Raids are quick and easy, don't miss out on them!</li>
                                    <li>Under each raid you find its current Leader Board</li>
                                    <li>Out of tickets? Just click a raid to buy more for exp</li>
                                    <li>Raids drop some of the best cards in game:</li>
                                    <li>Chibis - Young Spartan (Rare), Assassin (Mysthic)</li>
                                    <li>Weapon - Slicer (Rare)</li>
                                    <li>Armor - The Full Rare Cloth Set, currently the best Armor</li>
                                    <li>Skill - Waterboarding, attacks up to three opponents</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PLAY MATCH SECTION -->
    <section class="container-fluid" id="match">        
        <div class="row">        
            <!-- PLAY MATCH LEFT COLUMN -->
            <div class="col-md-3 bg-color-theme section-column-left">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Match
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/fighters_08_Stomper_Skully.png" alt="Stomper vs Skully">
                    </div>
                </div>
            </div>
            
            <!-- PLAY MATCH RIGHT COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">What are you looking at?</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    Your team fights other teams in PvP Matches  
                                </p>
                                <ul>
                                    <li>Matches are not fully done yet, but</li>
                                    <li>Any Chibi can be put into your team</li>
                                    <li>You can equip one to six Chibis</li>
                                    <li>You have an attacking and a defending team</li>                                    
                                    <li>You can use the same Chibis for both</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">How to Play Matches</h4>
                                <p>
                                    Click the Match Tab and equip your team
                                </p>
                                <ul>                                    
                                    <li>So far you can play Match without limits</li>
                                    <li>But a limit of 10 fights a day is in planning</li>
                                    <li>After setting up your two teams click Search</li>
                                    <li>The Game will search for worthy opponents</li>
                                    <li>Scroll through them and pick whichever you like</li>
                                    <li>Click the attack button and enjoy the Match</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                    So far you just see how well your team competes
                                </p>
                                <ul>
                                    <li>A win will earn you 100 points</li>
                                    <li>A lose will take 30 points of your ballance</li>
                                    <li>You see your rank at the top of the page</li>
                                    <li>After clicking Search you might need to scroll down.</li>
                                    <li>There should be four to five opponent teams</li>
                                    <li>You can attack empty teams and still earn points</li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}