{% extends 'base.html' %}
{% block content %}
    <!-- SETUP SECTION -->    
    <section class="container-fluid">        
        <div class="row">
            <!-- SETUP LEFT COLUMN -->        
            <div class="col-md-3 bg-color-theme section-column-left-main">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Setup
                        </h3>
                    </div>
                </div>
                <div class="chibi-overview-item">
                    <div class="key">
                        <p class="uppercase">
                            Account:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            offchain
                        </p>
                    </div>
                </div>
                <div class="chibi-overview-item">
                    <div class="key">
                        <p class="uppercase">
                            Version:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            Chibi Fighters 2.0
                        </p>
                    </div>
                </div>
                <div class="chibi-overview-item">
                    <div class="key">
                        <p class="uppercase">
                            Edition:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            Genesis
                        </p>
                    </div>
                </div>
                <div class="chibi-overview-item">
                    <div class="key">
                        <p class="uppercase">
                            Packsize:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            15 Chibi TCG cards
                        </p>
                    </div>
                </div>
                <div class="chibi-overview-item">
                    <div class="key">
                        <p class="uppercase">
                            Price:
                        </p>
                    </div>
                    <div class="value">
                        <p>
                            5$ per pack
                        </p>
                    </div>
                </div>              
            </div>
            
            <!-- SETUP RIGHT COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right-main">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Getting yourself Setup</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    Looking for a guide into the adventure?
                                </p>
                                <ul>
                                    <li><strong>Learn how to:</strong></li>
                                    <li>Setup your Account</li>
                                    <li>Buy Packs</li>
                                    <li>Open Packs</li>
                                    <li>Use your Collection</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Goals</h4>
                                <p>
                                    Chibis is a small project in development 
                                </p>
                                <ul>
                                    <li>This section wants to guide you into Chibis</li>
                                    <li>Closing most of the gaps in documentation</li>
                                    <li>And answering frequently asked questions</li>
                                    <li>So, let's go for it!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                    Looking for some more help, check out those:
                                </p>
                                <ul>                                    
                                    <li>Chibis has a friendly and helpful community at:</li>
                                    <li>Discord and</li>
                                    <li>Telegram and please..</li>
                                    <li>contact us, if you're missing something</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SETUP CREATE ACCOUNT SECTION -->
    <section class="container-fluid" id="create">        
        <div class="row">        
            <!-- SETUP CREATE ACCOUNT LEFT COLUMN -->
            <div class="col-md-3 bg-color-theme section-column-left">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Create Account
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/fighters_09_Skully_Minotaur.png" alt="Skully vs Minotaur">
                    </div>
                </div>                
            </div>
            
            <!-- SETUP CREATE ACCOUNT RIGHT COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">There's no place like Home</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    Sign up for your Chibi 2.0 Account
                                </p>
                                <ul>
                                    <li>Like in most games - you need an Account</li>
                                    <li>It provides you with your unique <strong>game ID</strong></li>                                    
                                    <li>You can set a mighty name</li>
                                    <li>Support via Patreon from here</li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Set it up !</h4>
                                <p>
                                All it takes is an email address
                                </p>
                                <ul>
                                    <li>Go to chibifighters.com</li>
                                    <li>Click Login / Signup button</li>
                                    <li>Enter your email and click create Account</li>
                                    <li>Click the link in your email and that's it</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                    Some Infos about your Acount section
                                </p>
                                <ul>
                                    <li>For every Login a link is send by email</li>
                                    <li>This happens if you logout or change device</li>
                                    <li>Setup a 2fac authentification for your account</li>                                
                                    <li>Send full packs to another Account from here</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SETUP BUY PACKS SECTION -->
    <section class="container-fluid" id="buy">        
        <div class="row">        
            <!-- SETUP BUY PACKS LEFT COLUMN -->
            <div class="col-md-3 bg-color-theme section-column-left">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Buy Packs
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/fighters_10_BrendaSparks_Skully.png" alt="Brenda Sparks vs Skully">
                    </div>
                </div>
            </div>
            
            <!-- SETUP BUY PACKS RIGHT COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">For a Handful of USDT</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    Packs - where your first Chibi 2.0 cards come from
                                </p>
                                <ul>
                                    <li>To start playing Chibis 2.0 you need to get a pack</li>
                                    <li>Right now only Genesis Packs (GP) exist</li>
                                    <li>Each of those packs contains 15 cards</li>
                                    <li>You will find cards of different types</li>                                    
                                    <li>and different rarities in the packs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">How to Buy</h4>
                                <p>
                                    No more Shady Merchant
                                </p>
                                <ul>
                                    <li>Login to chibifighters.com and click Buy Packs</li>
                                    <li>First, buy some CHIBS (not Chibis)</li>
                                    <li>Click on one of the payment methods</li>
                                    <li>(coinPayments, ETH, TRX or Paypal)</li>
                                    <li>Type the ammount of CHIBS you want and buy</li>
                                    <li>Refresh the page and buy your packs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                Pack a pack or two
                                </p>
                                <ul>                                    
                                    <li>Allow Popups for the page, else it doesn't work</li>
                                    <li>One pack costs 1000 Chibs ~ 5$</li>
                                    <li>Cards from packs are not dropped in the game</li>
                                    <li>Each edition contains exclusive cards</li>
                                    <li>Future packs will only contain 5 cards each</li>
                                    <li>The pack supply is limited, Genesis to 23600</li>
                                    <li>Rarely packs don't contain Chibis</li>
                                    <li>You can buy packs from other players as well!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SETUP OPEN PACKS SECTION -->
    <section class="container-fluid" id="open">        
        <div class="row">        
            <!-- SETUP OPEN PACKS LEFT COLUMN -->
            <div class="col-md-3 bg-color-theme section-column-left">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Open Packs
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/fighters_11_Skully_PumpkinHead.png" alt="Skully vs Pumpkin Head">
                    </div>
                </div>
            </div>
            
            <!-- SETUP OPEN PACKS COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Just Rip it open !!</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    Packs are a sealed surprise until you open them
                                </p>
                                <ul>                                    
                                    <li>You can see your GPs in different spots:
                                        <ul>
                                            <li>Account page on chibifighters.com</li>
                                            <li>In Game in the top right corner</li>
                                            <li>In Game on the Open Packs page</li>
                                        </ul>
                                    </li>
                                    <li>Once opened your pack is gone for cards</li>
                                </ul>
                            </div>
                        </div>
                    </div>                    
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">How to open</h4>
                                <p>
                                    Log into the Game and click Open Packs
                                </p>
                                <ul>
                                    <li>Open a pack by clicking the Open Pack button</li>
                                    <li>You will see the back of your cards</li>
                                    <li>Reveal by clicking each card</li>
                                    <li>Scroll to the right to find all cards</li>
                                    <li>Click the red X button to stop this process</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                    Surprise in a Surprise !!
                                </p>
                                <ul>
                                    <li>Browser froze or PC crashed? Don't worry!</li>
                                    <li>Once clicked, all cards will be in your collection</li>
                                    <li>Want to open many packs? Use the red X button!</li>
                                    <li>Rarest cards are found on the left</li>
                                    <li>Rarity is decreasing from there to common</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SETUP COLLECTION SECTION -->
    <section class="container-fluid" id="collection">        
        <div class="row">        
            <!-- SETUP COLLECTION LEFT COLUMN -->
            <div class="col-md-3 bg-color-theme section-column-left">
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Collection
                        </h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/fighters_12_Frankie_Skully.png" alt="Frankie vs Skully">
                    </div>
                </div>
            </div>
            
            <!-- SETUP COLLECTION RIGHT COLUMN -->
            <div class="col-md-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 class="section-heading-right uppercase">Fill the Heart of Chibis 2.0</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-question" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">What is it?</h4>
                                <p>
                                    And here we are - Collectors Heaven !!
                                </p>
                                <ul>
                                    <li>The Collection displays all your cards</li>                                    
                                    <li>Each card displays at the top:</li>
                                    <li>Name, Juice and Level</li>
                                    <li>Followed by Health, Damage and Image</li>                                
                                    <li>At bottom left the card's Type Number</li>
                                    <li>At bottom right the unique Token ID</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fa fa-thumbs-up" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Your Cards</h4>
                                <p>
                                    Wow, there's one, two, three... of me !!
                                </p>
                                <ul>                                    
                                    <li>Found more than one? Just click it</li>
                                    <li>Now you can select the individual card</li>
                                    <li>On the left you find options to..</li>
                                    <li>..mint the card to ETH or send it away.. </li>
                                    <li>..and upgrade, level and burn the card.</li>
                                    <li>Chibis have their equipable slots on the right</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 offset-1 offset-sm-0 col-sm-6">
                        <div class="row">
                            <div class="col-2">
                                <i class="chibi-infos-icon fas fa-exclamation-circle" aria-hidden="true"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="chibi-infos-heading uppercase">Good to know</h4>
                                <p>
                                    Might come in handy
                                </p>
                                <ul>
                                    <li>Burning <strong>Genesis</strong> cards returns Dust</li>
                                    <li>You need Dust to upgrade your cards every 10 level</li>
                                    <li>Higher rarities return more dust (1,2,5,10)</li>
                                    <li>You can as well use doublettes cards to do so</li>
                                    <li>The amount of exp needed rises by 5%/lvl</li>
                                    <li>The amount of dust needed rises by 1/20lvl</li>
                                    <li>You can get 1 Dust per 24h as a reward</li>                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}