<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

    <title>Source Names</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <!-- SOURCE NAMES MONGODB SECTION -->
    <section class="container-fluid">        
        <div class="row">

            <!-- SOURCE NAMES LEFT COLUMN -->
            <div class="col-md-4 col-lg-3 bg-color-theme section-column-left">

                <!-- SOURCE NAMES LEFT COLUMN HEADING -->
                <div class="row">
                    <div class="col-12">                        
                        <h3 class="section-heading-left uppercase">
                            Manage Sources
                        </h3>
                    </div>
                </div>

                <!-- SOURCE NAMES LEFT COLUMN IMAGE -->
                <div class="row">
                    <div class="col-12">
                        <img class="img-fluid" src="../static/images/items_logo_s.png" alt="Select Logo">
                    </div>
                </div>
            </div>
                
            <!-- SOURCE NAMES RIGHT COLUMN -->
            <div class="col-md-8 col-lg-9 bg-color-header section-column-right">
                <div class="row">
                    <div class="col">
                        <h3 id="chibiItemStatus" class="section-heading-right uppercase">Add, edit or delete item source</h3>
                    </div>
                    <div class="section-heading-right">
                        <a class="btn btn-chib" href="{{url_for('add_source')}}" id="navbarDropdownFind" role="button"><i class="fas fa-plus-square" aria-hidden="true"></i><span> Add</span></a>
                    </div>
                </div>

                <!-- LIST SOURCE COLLECTION ELEMENTS -->                
                {% for dataset in source %}                
                    
                    <div class="row">                       
                        <a class="btn btn-chib" href="{{url_for('edit_source', source_id=dataset._id)}}" role="button"><i class="fas fa-edit" aria-hidden="true"></i><span> Edit</span></a>
                        <a class="btn btn-chib" href="{{url_for('delete_source', source_id=dataset._id)}}" role="button"><i class="fas fa-trash" aria-hidden="true"></i><span> Delete</span></a>                          
                        <div class="uppercase db-results">
                            <h5>{{dataset.source_name}}</h5>
                        </div>
                    </div>                                       
                
                {% endfor %}
            </div>            
        </div>
    </section>
{% endblock %}
</body>
</html>